*{
    font-family: Poppins;
    padding: 0px;
    margin: 0px;
    
}

/* Naviguation bar ---------------------------------------------- */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 8px;
    
}

.navbar-logo {
    font-size: 31px;
    font-weight: bold;
    color: rgb(254, 244, 231);
    animation: gradientBlink 3s infinite;
    padding: 0px 10px 0px 25px;
    cursor: pointer;
    text-shadow: 2px 2px 4px rgb(235, 148, 8, 1.5);
    font-family: Orbitron;
}

/* Blinking or Opacity Degradation Effect */
@keyframes gradientBlink {
    0% {
        color: rgb(254, 244, 231); /* Light cream */
        text-shadow: 2px 2px 4px rgba(235, 148, 8, 1.5);
    }
    50% {
        color: orange; /* Bright orange */
        text-shadow: 2px 2px 6px rgba(255, 100, 0, 1);
    }
    100% {
        color: rgb(254, 244, 231); /* Light cream */
        text-shadow: 2px 2px 4px rgba(235, 148, 8, 1.5);
    }
}

.list li{
    color: rgb(254, 244, 231);
    font-size: 25px;
    display: inline-flex;
    margin-right: 30px;
    gap: 15px;
    text-shadow: 2px 2px 4px rgb(235, 148, 8, 1.5);
    cursor: pointer;
    
}
/* ---------------------------------------------------------------- */

/* Hero Section --------------------------------------------------- */
.hero {
    width: 100%;
    height: 100vh; /* Full height  */
    overflow: hidden;
}

/* Hero Heading */
.hero-overlay h1 {
    font-size: 85px;
    font-weight: bold;
    text-shadow: 0px 5px 10px rgba(255, 178, 44, 2);
    margin-bottom: 20px;
}

/* Hero Description */
.hero-overlay p {
    font-size: 30px;
    margin-bottom: 30px;
}

/* Video background */
.hero-video-container video{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
/* Hero text */
.hero-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    z-index: 1;
    padding-bottom: 20px;
}

/* CTA learn more button */
.cta-button {
    padding: 17px 60px 17px 60px;
    background-color: #ffad50; 
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 50px;
}

.cta-button:hover {
    background-color: #ffddb3;
    transition: 0.3s;
}
/* ------------------------------------------------------------ */


/* Product section: --------------------------------------------*/
.parent_container{
    display: flex;
    justify-content: center;
    align-content: center;
}
.product-container{
    display: none;
    justify-content: center;
    align-items: center;
    gap: 180px;
    padding: 20px;
    overflow: hidden;
    background-color: rgb(254, 244, 231);

}
/* Product's name */
.product-description h2{
    font-size: 45px;  
}
/* Price */
.new-price{
    font-size: 30px;
    color: rgb(164, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;   
}
.product-description p{
    font-size: 20px;
    text-align: left;
}
/* Description and Features text */
.product-description h4{
    font-size: 24px;
    text-align: left;
}
.product-description {
    padding: 0px 90px 0px 0px;
}
/* Old price */
del{
    font-size: 20px;
    color: rgb(116, 116, 116);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -16px;
}
/* ul */
.product-features{
    margin-left: 19px;
    font-size: 19px;
}
.product-image img{
    width: 100% ;
    height: auto ;
    
    border-radius: 30px;
}

.order-button{
    margin: 10px;
    padding: 10px 100px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 20px;
    width: 100%;
    cursor: pointer;
    margin-bottom: 25px;
    margin-top: 25px;
    background-color: black;
    color: white;
}

/* hover effects for interactivity */
.order-button:hover {
    background-color: #f04e23;
    color: white;
    transition: 0.3s;
}
/* ----------------------------------------------------------------- */

/* Form  ------------------------------------------------------------*/
.form-container{
    display:none;
    max-width: 700px;
    margin: 20px auto;
    padding:50px 85px 0px 85px;
    border:3px solid rgb(48, 46, 46);
    border-radius: 20px;
    background-color: rgb(254, 244, 231);
}
.form-container label{
    font-size: 19px;
}
/* Place holder */
::placeholder{
    font-size: 20px;
}
/* Form title: */
h2{
    text-align: center;
    font-size: 37px;
    color: black;
    margin-bottom: 10px;
}
/* Paragragh of order form */
p{
   text-align: center; 
   font-size: 23px;
   margin-bottom: 30px;
   margin-top: 23px;
}
label{
    /* display: block; */
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 5px;
    color: rgb(0, 0, 0);
}

.submit-btn{
   background-color: rgb(7, 6, 6);
   color: white;
   padding: 10px 40px;
   margin: 40px 5px 22px 130px;
   font-size: 20px;
   border-radius: 20px;
   font-weight: bold;
}
.submit-btn:hover {
    background-color: #f7f4f4;
    color: #333;
    transition: 0.3s;
}
.cancelbtn{
    background-color: rgb(228, 224, 224);
    color: rgb(7, 7, 7);
    font-size: 15px;
    /* margin: 10px 20px; */
    margin: 10px;
    padding: 10px 40px;
    font-size: 20px;
    border-radius: 20px;
    font-weight: bold;
}
.cancelbtn:hover{
    background-color: red;
    color: white;
    transition: 0.3s;

}
.W1{
    border-radius: 20px;
    box-shadow: 0 5px 10px rgb(235, 148, 8, 1.3);
    width: 90%;
     padding: 20px;
     margin-bottom: 15px;
     border: 1px solid rgb(231, 212, 192);
     font-size: 20px;
     
}
/* ------------------------------------------------------------- */

/* footer ------------------------------------------------------ */
.footer {
    background-color: #333; /* 7e5f5a */
    color: #e9e9e9;
    text-align: center;
    padding: 10px 0;
    font-size: 16px;
    border-top: 1px solid #ddd;
}

.footer p {
    margin: 5px 0;
}
/* ------------------------------------------------------------------------- */
/* Responsiveness */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column; 
        align-items: flex-start; 
    }
    .product-container {
        flex-direction: column; 
        gap: 20px;
    }
    .product-description {
        padding: 0px 30px;
    }
}